.12_77 { 
	overflow:hidden;
}
.e12_77 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1625px;
	position:absolute;
}
.e12_78 { 
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:1140px;
	height:145px;
	position:absolute;
	left:150px;
	top:1480px;
}
.e12_79 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:66px;
	position:absolute;
	left:159px;
	top:5px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e12_80 { 
	color:rgba(0, 0, 0, 1);
	width:414px;
	height:69px;
	position:absolute;
	left:147px;
	top:50px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e12_81 { 
	width:119px;
	height:117px;
	position:absolute;
	left:14px;
	top:12px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_82 { 
	background-color:rgba(112.000000923872, 195.0000035762787, 73.00000324845314, 1);
	width:1140px;
	height:133px;
	position:absolute;
	left:150px;
	top:0px;
}
.12_82 { 
	border:3px solid rgba(112.04323500394821, 195.49999594688416, 72.7694696187973, 1);
}
.e12_83 { 
	width:849px;
	height:87px;
	position:absolute;
	left:293px;
	top:11px;
}
.e12_84 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:21px;
}
.e12_85 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_86 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:184px;
	top:21px;
}
.e12_87 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_88 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:368px;
	top:21px;
}
.e12_89 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_90 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:549px;
	top:21px;
}
.e12_91 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_92 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:730px;
	top:21px;
}
.e12_93 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_94 { 
	width:119px;
	height:117px;
	position:absolute;
	left:67px;
	top:8px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_98 { 
	color:rgba(0, 0, 0, 1);
	width:682px;
	height:44px;
	position:absolute;
	left:218px;
	top:151px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e12_133 { 
	width:945px;
	height:991px;
	position:absolute;
	left:248px;
	top:274px;
}
.e12_114 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:945px;
	height:991px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_166 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:315px;
	height:64px;
	position:absolute;
	left:559px;
	top:872px;
}
.e12_167 { 
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:58px;
	position:absolute;
	left:51px;
	top:795px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_169 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:27px;
	position:absolute;
	left:261px;
	top:812px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_168 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:31px;
	position:absolute;
	left:664px;
	top:888px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_132 { 
	width:879px;
	height:735px;
	position:absolute;
	left:35px;
	top:53px;
}
.e12_115 { 
	background-color:rgba(255, 255, 255, 1);
	width:879px;
	height:735px;
	position:absolute;
	left:0px;
	top:0px;
}
.12_115 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_118 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:843px;
	height:132px;
	position:absolute;
	left:16px;
	top:14px;
}
.e12_116 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:843px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_117 { 
	width:114px;
	height:112px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_119 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:76px;
	position:absolute;
	left:152px;
	top:8px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_120 { 
	background-color:rgba(255, 255, 255, 1);
	width:98px;
	height:56px;
	position:absolute;
	left:630px;
	top:42px;
}
.12_120 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_122 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:27px;
	position:absolute;
	left:658px;
	top:57px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_124 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:76px;
	position:absolute;
	left:747px;
	top:32px;
	background-image:url(../images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.12_124 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_141 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:54px;
	position:absolute;
	left:152px;
	top:66px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_142 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:843px;
	height:132px;
	position:absolute;
	left:16px;
	top:154px;
}
.e12_143 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:843px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_144 { 
	width:114px;
	height:112px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_145 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:76px;
	position:absolute;
	left:152px;
	top:8px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_146 { 
	background-color:rgba(255, 255, 255, 1);
	width:98px;
	height:56px;
	position:absolute;
	left:630px;
	top:42px;
}
.12_146 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_147 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:27px;
	position:absolute;
	left:658px;
	top:57px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_148 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:76px;
	position:absolute;
	left:747px;
	top:32px;
	background-image:url(../images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.12_148 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_149 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:54px;
	position:absolute;
	left:152px;
	top:66px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_150 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:843px;
	height:132px;
	position:absolute;
	left:16px;
	top:294px;
}
.e12_151 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:843px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_152 { 
	width:114px;
	height:112px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_153 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:76px;
	position:absolute;
	left:152px;
	top:8px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_154 { 
	background-color:rgba(255, 255, 255, 1);
	width:98px;
	height:56px;
	position:absolute;
	left:630px;
	top:42px;
}
.12_154 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_155 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:27px;
	position:absolute;
	left:658px;
	top:57px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_156 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:76px;
	position:absolute;
	left:747px;
	top:32px;
	background-image:url(../images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.12_156 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_157 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:54px;
	position:absolute;
	left:152px;
	top:66px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_158 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:843px;
	height:132px;
	position:absolute;
	left:16px;
	top:434px;
}
.e12_159 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:843px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_160 { 
	width:114px;
	height:112px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_161 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:76px;
	position:absolute;
	left:152px;
	top:8px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_162 { 
	background-color:rgba(255, 255, 255, 1);
	width:98px;
	height:56px;
	position:absolute;
	left:630px;
	top:42px;
}
.12_162 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_163 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:27px;
	position:absolute;
	left:658px;
	top:57px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_164 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:76px;
	height:76px;
	position:absolute;
	left:747px;
	top:32px;
	background-image:url(../images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.12_164 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_165 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:54px;
	position:absolute;
	left:152px;
	top:66px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
