.12_2 { 
	overflow:hidden;
}
.e12_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1093px;
	position:absolute;
}
.e12_3 { 
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:1140px;
	height:145px;
	position:absolute;
	left:150px;
	top:948px;
}
.e12_4 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:66px;
	position:absolute;
	left:159px;
	top:5px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e12_5 { 
	color:rgba(0, 0, 0, 1);
	width:414px;
	height:69px;
	position:absolute;
	left:147px;
	top:50px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e12_6 { 
	width:119px;
	height:117px;
	position:absolute;
	left:14px;
	top:12px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_7 { 
	background-color:rgba(112.000000923872, 195.0000035762787, 73.00000324845314, 1);
	width:1140px;
	height:133px;
	position:absolute;
	left:150px;
	top:0px;
}
.12_7 { 
	border:3px solid rgba(112.04323500394821, 195.49999594688416, 72.7694696187973, 1);
}
.e12_8 { 
	width:849px;
	height:87px;
	position:absolute;
	left:293px;
	top:11px;
}
.e12_9 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:21px;
}
.e12_10 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_11 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:184px;
	top:21px;
}
.e12_12 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_13 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:368px;
	top:21px;
}
.e12_14 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_15 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:549px;
	top:21px;
}
.e12_16 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_17 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:730px;
	top:21px;
}
.e12_18 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e12_19 { 
	width:119px;
	height:117px;
	position:absolute;
	left:67px;
	top:8px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_24 { 
	width:321px;
	height:386px;
	position:absolute;
	left:218px;
	top:239px;
}
.e12_25 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:321px;
	height:386px;
	position:absolute;
	left:0px;
	top:0px;
}
.12_59 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_59 { 
	width:278px;
	height:260px;
	position:absolute;
	left:22px;
	top:20px;
	background-image:url(../images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_58 { 
	color:rgba(0, 0, 0, 1);
	width:682px;
	height:44px;
	position:absolute;
	left:218px;
	top:161px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e12_60 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:615px;
	height:518px;
	position:absolute;
	left:608px;
	top:239px;
}
.e12_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:651px;
	top:294px;
}
.12_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_63 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:651px;
	top:255px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_64 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:651px;
	top:384px;
}
.12_64 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_65 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:651px;
	top:345px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:651px;
	top:474px;
}
.12_66 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_67 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:651px;
	top:435px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_68 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:651px;
	top:574px;
}
.12_68 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_69 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:651px;
	top:535px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_70 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:651px;
	top:664px;
}
.12_70 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e12_71 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:651px;
	top:625px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_73 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:222px;
	height:43px;
	position:absolute;
	left:268px;
	top:554px;
}
.e12_74 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:288px;
	top:564px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_75 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:293px;
	height:43px;
	position:absolute;
	left:573px;
	top:802px;
}
.e12_76 { 
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:27px;
	position:absolute;
	left:604px;
	top:810px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
