.13_229 { 
	overflow:hidden;
}
.e13_229 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1365px;
	position:absolute;
}
.e13_230 { 
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:1140px;
	height:145px;
	position:absolute;
	left:150px;
	top:1220px;
}
.e13_231 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:66px;
	position:absolute;
	left:159px;
	top:5px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e13_232 { 
	color:rgba(0, 0, 0, 1);
	width:414px;
	height:69px;
	position:absolute;
	left:147px;
	top:50px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e13_233 { 
	width:119px;
	height:117px;
	position:absolute;
	left:14px;
	top:12px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_234 { 
	background-color:rgba(112.000000923872, 195.0000035762787, 73.00000324845314, 1);
	width:1140px;
	height:133px;
	position:absolute;
	left:150px;
	top:0px;
}
.13_234 { 
	border:3px solid rgba(112.04323500394821, 195.49999594688416, 72.7694696187973, 1);
}
.e13_235 { 
	width:849px;
	height:87px;
	position:absolute;
	left:293px;
	top:11px;
}
.e13_236 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:21px;
}
.e13_237 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e13_238 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:184px;
	top:21px;
}
.e13_239 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e13_240 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:368px;
	top:21px;
}
.e13_241 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e13_242 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:549px;
	top:21px;
}
.e13_243 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e13_244 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:730px;
	top:21px;
}
.e13_245 { 
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e13_246 { 
	width:119px;
	height:117px;
	position:absolute;
	left:67px;
	top:8px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_259 { 
	width:1005px;
	height:360px;
	position:absolute;
	left:217px;
	top:747px;
}
.e13_260 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:1005px;
	height:360px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_279 { 
	background-color:rgba(255, 255, 255, 1);
	width:948px;
	height:247px;
	position:absolute;
	left:28px;
	top:82px;
}
.13_279 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e13_261 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.75;
	width:60px;
	height:45px;
	position:absolute;
	left:28px;
	top:13px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_262 { 
	color:rgba(0, 0, 0, 1);
	width:938px;
	height:226.17100524902344px;
	position:absolute;
	left:30px;
	top:81.63568878173828px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_280 { 
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:138px;
	height:41px;
	position:absolute;
	left:88px;
	top:17px;
}
.e13_282 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:33px;
	position:absolute;
	left:90px;
	top:19px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_283 { 
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:202px;
	height:41px;
	position:absolute;
	left:238px;
	top:17px;
}
.e13_284 { 
	color:rgba(0, 0, 0, 1);
	width:189px;
	height:33px;
	position:absolute;
	left:240px;
	top:19px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_285 { 
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:200px;
	height:41px;
	position:absolute;
	left:448px;
	top:17px;
}
.e13_286 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:33px;
	position:absolute;
	left:450px;
	top:19px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_287 { 
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:48px;
	height:41px;
	position:absolute;
	left:658px;
	top:17px;
}
.e13_288 { 
	color:rgba(0, 0, 0, 1);
	width:15px;
	height:28px;
	position:absolute;
	left:675px;
	top:24px;
	font-family:Arial;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_263 { 
	width:487px;
	height:462px;
	position:absolute;
	left:217px;
	top:248px;
}
.e13_264 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:487px;
	height:462px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_265 { 
	width:431px;
	height:436px;
	position:absolute;
	left:28px;
	top:13px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_266 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:488px;
	height:93px;
	position:absolute;
	left:734px;
	top:248px;
}
.e13_267 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:44px;
	position:absolute;
	left:754px;
	top:272px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e13_268 { 
	width:488px;
	height:346px;
	position:absolute;
	left:734px;
	top:364px;
}
.e13_269 { 
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:488px;
	height:346px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_270 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:33px;
	position:absolute;
	left:33px;
	top:174px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_271 { 
	background-color:rgba(255, 255, 255, 1);
	width:148px;
	height:57px;
	position:absolute;
	left:189px;
	top:162px;
}
.13_271 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e13_293 { 
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:33px;
	position:absolute;
	left:21px;
	top:17px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_294 { 
	background-color:rgba(255, 255, 255, 1);
	width:438px;
	height:86px;
	position:absolute;
	left:25px;
	top:63px;
}
.13_294 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e13_289 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:412px;
	height:60px;
	position:absolute;
	left:38px;
	top:253px;
}
.e13_290 { 
	color:rgba(0, 0, 0, 1);
	width:238px;
	height:33px;
	position:absolute;
	left:125px;
	top:266px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_278 { 
	color:rgba(0, 0, 0, 1);
	width:682px;
	height:44px;
	position:absolute;
	left:217px;
	top:170px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e13_291 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:60px;
	position:absolute;
	left:865px;
	top:265px;
}
.13_291 { 
	border:1px solid rgba(0, 0, 0, 1);
}
