.2_2 {
	overflow:hidden;
}
.e2_2 {
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2067px;
	position:absolute;
}
.e3_53 {
	width:1005px;
	height:93px;
	position:absolute;
	left:218px;
	top:177px;
}
.e2_44 {
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:1005px;
	height:93px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_44 {
	border:3px solid rgba(112.000000923872, 195.0000035762787, 73.00000324845314, 1);
}
.e3_52 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:860px;
	height:69px;
	position:absolute;
	left:17px;
	top:12px;
}
.3_52 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_54 {
	width:67.93240356445312px;
	height:67px;
	position:absolute;
	left:907.097412109375px;
	top:13px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_56 {
	color:rgba(130.68749696016312, 130.68749696016312, 130.68749696016312, 1);
	width:313.6878662109375px;
	height:49px;
	position:absolute;
	left:29.970178604125977px;
	top:19px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e3_60 {
	width:1005px;
	height:282px;
	position:absolute;
	left:218px;
	top:294px;
}
.e3_49 {
	background-color:rgba(215.6945899128914, 255, 191.60420179367065, 1);
	width:1005px;
	height:282px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_49 {
	border:3px solid rgba(112.000000923872, 195.0000035762787, 73.00000324845314, 1);
}
.e3_59 {
	color:rgba(0, 0, 0, 1);
	width:176.8240509033203px;
	height:49px;
	position:absolute;
	left:403.5984191894531px;
	top:117px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e3_61 {
	width:1140px;
	height:1295px;
	position:absolute;
	left:150px;
	top:618px;
}
.e3_66 {
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_65 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_67 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_68 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_72 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_74 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_69 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_75 {
	width:262px;
	height:403px;
	position:absolute;
	left:293px;
	top:0px;
}
.e3_76 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:262px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_77 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:164.37261962890625px;
	height:48px;
	position:absolute;
	left:50.80608367919922px;
	top:343px;
}
.e3_78 {
	color:rgba(0, 0, 0, 1);
	width:89.65779113769531px;
	height:22px;
	position:absolute;
	left:85.67300415039062px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_79 {
	color:rgba(0, 0, 0, 1);
	width:192.2661590576172px;
	height:33px;
	position:absolute;
	left:34.866920471191406px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_80 {
	width:204.2205352783203px;
	height:267px;
	position:absolute;
	left:28.889734268188477px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_81 {
	color:rgba(0, 0, 0, 1);
	width:122.53231811523438px;
	height:35px;
	position:absolute;
	left:66.74524688720703px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_82 {
	width:263px;
	height:403px;
	position:absolute;
	left:585px;
	top:0px;
}
.e3_83 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_84 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_85 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_86 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_87 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_88 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_89 {
	width:263px;
	height:403px;
	position:absolute;
	left:878px;
	top:0px;
}
.e3_90 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_91 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_92 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_93 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_94 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_95 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_96 {
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:430px;
}
.e3_97 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_98 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_99 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_100 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_101 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_102 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_103 {
	width:262px;
	height:403px;
	position:absolute;
	left:293px;
	top:430px;
}
.e3_104 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:262px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_105 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:164.37261962890625px;
	height:48px;
	position:absolute;
	left:50.80608367919922px;
	top:343px;
}
.e3_106 {
	color:rgba(0, 0, 0, 1);
	width:89.65779113769531px;
	height:22px;
	position:absolute;
	left:85.67300415039062px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_107 {
	color:rgba(0, 0, 0, 1);
	width:192.2661590576172px;
	height:33px;
	position:absolute;
	left:34.866920471191406px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_108 {
	width:204.2205352783203px;
	height:267px;
	position:absolute;
	left:28.889734268188477px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_109 {
	color:rgba(0, 0, 0, 1);
	width:122.53231811523438px;
	height:35px;
	position:absolute;
	left:66.74524688720703px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_110 {
	width:263px;
	height:403px;
	position:absolute;
	left:585px;
	top:430px;
}
.e3_111 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_112 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_113 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_114 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_115 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_116 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_117 {
	width:263px;
	height:403px;
	position:absolute;
	left:878px;
	top:430px;
}
.e3_118 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_119 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_120 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_121 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_122 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_123 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_124 {
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:860px;
}
.e3_125 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_126 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_127 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_128 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_129 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_130 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_131 {
	width:262px;
	height:403px;
	position:absolute;
	left:293px;
	top:860px;
}
.e3_132 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:262px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_133 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:164.37261962890625px;
	height:48px;
	position:absolute;
	left:50.80608367919922px;
	top:343px;
}
.e3_134 {
	color:rgba(0, 0, 0, 1);
	width:89.65779113769531px;
	height:22px;
	position:absolute;
	left:85.67300415039062px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_135 {
	color:rgba(0, 0, 0, 1);
	width:192.2661590576172px;
	height:33px;
	position:absolute;
	left:34.866920471191406px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_136 {
	width:204.2205352783203px;
	height:267px;
	position:absolute;
	left:28.889734268188477px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_137 {
	color:rgba(0, 0, 0, 1);
	width:122.53231811523438px;
	height:35px;
	position:absolute;
	left:66.74524688720703px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_138 {
	width:263px;
	height:403px;
	position:absolute;
	left:585px;
	top:860px;
}
.e3_139 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_140 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_141 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_142 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_143 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_144 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_145 {
	width:263px;
	height:403px;
	position:absolute;
	left:878px;
	top:860px;
}
.e3_146 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(232.33336508274078, 255, 226.6667139530182, 1);
	width:263px;
	height:403px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_147 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:165px;
	height:48px;
	position:absolute;
	left:51px;
	top:343px;
}
.e3_148 {
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:86px;
	top:356px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_149 {
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:33px;
	position:absolute;
	left:35px;
	top:275px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_150 {
	width:205px;
	height:267px;
	position:absolute;
	left:29px;
	top:25px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_151 {
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:67px;
	top:297px;
	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e9_152 {
	background-color:rgba(148.23921114206314, 218.87500405311584, 123.42122286558151, 1);
	width:1140px;
	height:145px;
	position:absolute;
	left:150px;
	top:1922px;
}
.e9_153 {
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:66px;
	position:absolute;
	left:159px;
	top:5px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e9_154 {
	color:rgba(0, 0, 0, 1);
	width:414px;
	height:69px;
	position:absolute;
	left:147px;
	top:50px;
	font-family:Ribeye Marrow;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e9_155 {
	width:119px;
	height:117px;
	position:absolute;
	left:14px;
	top:12px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.header {
	background-color:rgba(112.000000923872, 195.0000035762787, 73.00000324845314, 1);
	width:1140px;
	height:133px;
	position:absolute;
	left:150px;
	top:0px;
}
.9_156 {
	border:3px solid rgba(112.04323500394821, 195.49999594688416, 72.7694696187973, 1);
}
.menu-buttons {
	width:849px;
	height:87px;
	position:absolute;
	left:293px;
	top:11px;
}
.e9_158 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:21px;
}
.e9_159 {
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e9_160 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:184px;
	top:21px;
}
.e9_161 {
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:165px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e9_162 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:368px;
	top:21px;
}
.e9_163 {
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e9_164 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:549px;
	top:21px;
}
.e9_165 {
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:162px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e9_166 {
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(152.0612132549286, 236.93750202655792, 100.04031747579575, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:730px;
	top:21px;
}
.e9_167 {
	color:rgba(104.12499949336052, 104.12499949336052, 104.12499949336052, 1);
	width:99px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Ribeye Marrow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e9_168 {
	width:119px;
	height:117px;
	position:absolute;
	left:67px;
	top:8px;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
